.actionButtons {
    position: fixed;
    bottom: 15px;
    right: 20px;
    z-index: 1050;
}

.whatsappButton {
    background-color: #fd0100;
    color: white;
    padding: 10px 15px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

.whatsappButton:hover {
    background-color: #25d366;
    transform: translateY(-2px);
}

.whatsappIcon {
    font-size: 24px;
}

/* Estilos cuando hay scroll */
.whatsappButton.scrolled {
    width: 45px;
    height: 45px;
    padding: 0;
    border-radius: 50%;
    justify-content: center;
}

.whatsappButton.scrolled span {
    display: none;
}